.banner-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .invalid {
        border-color: red;
    }

    .hidden {
        display: none;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            background-color: #e0e0e0;
        }

        &-invlid {
            display: none;
        }

        &[aria-disabled='true'] {
            cursor: default;
            pointer-events: none;
        }

        &-mini {
            &__preview {
                width: 100px;
                height: 100%;
                object-fit: contain;
            }

            &-content {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: flex-start;
            }
            &-desc {
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: flex-start;

                h1,
                h2 {
                    margin: 0;
                    padding: 0;
                }

                h1 {
                    font-size: 0.8rem;
                }
                h2 {
                    font-size: 0.6rem;
                }
            }
        }
    }

    &__toggle-button {
        outline: none;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: #e0e0e0;
        }
    }
}

.divider {
    margin: 10px 0;
    height: 2px;
    background-color: #e0e0e0;
    border: none;
}

.column {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.asset-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__detail {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    &__preview {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
}

.product-info {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;

    &__detail {
        display: flex;
    }

    &__preview {
        width: 300px;
        height: 300px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }
}

.error {
    color: red;
}

::ng-deep .input-row {
    display: block !important;
}

.autocomplete-select {
    &__item {
        display: grid;
        grid-template-columns: 64px 1fr;

        &__image {
            width: 64px;
            height: 64px;
            object-fit: contain;
        }
    }
}
