<vdr-page-block>
    <vdr-action-bar>
        <vdr-ab-left>
            <vdr-language-selector
                [disabled]="isNew$ | async"
                [availableLanguageCodes]="availableLanguages$ | async"
                [currentLanguageCode]="languageCode$ | async"
                (languageCodeChange)="setLanguage($event)"
            ></vdr-language-selector>
        </vdr-ab-left>
        <vdr-ab-right>
            <button
                class="button primary"
                *ngIf="isNew$ | async; else updateButton"
                (click)="create()"
                [disabled]="detailForm.pristine || detailForm.invalid"
            >
                {{ 'common.create' | translate }}
            </button>
            <ng-template #updateButton>
                <button
                    class="btn btn-primary"
                    (click)="update()"
                    [disabled]="detailForm.pristine || detailForm.invalid"
                >
                    {{ 'common.update' | translate }}
                </button>
            </ng-template>
        </vdr-ab-right>
    </vdr-action-bar>
</vdr-page-block>

<form class="form" [formGroup]="detailForm">
    <vdr-page-block>
        <vdr-card>
            <div class="form-grid">
                <vdr-form-field [label]="'banner-plugin.form.name' | translate" for="name">
                    <input id="name" type="text" formControlName="name" />
                </vdr-form-field>

                <vdr-form-field [label]="'banner-plugin.form.enabled' | translate">
                    <input type="checkbox" formControlName="enabled" />
                </vdr-form-field>
            </div>
        </vdr-card>

        <div cdkDropList (cdkDropListDropped)="onSectionDrop($event)" class="sections-container">
            <ng-container formArrayName="sections">
                <ng-container *ngFor="let section of sections.controls; let i = index">
                    <div cdkDrag class="section-item">
                        <vdr-card [formGroup]="detailForm" class="section-card">
                            <div class="section-content">
                                <div class="drag-handle" cdkDragHandle>
                                    <clr-icon shape="drag-handle"></clr-icon>
                                </div>
                                <div class="section-body">
                                    <banner-section
                                        [maxPosition]="sections.controls.length"
                                        [isExpanded]="expandSections"
                                        [bannerSection]="bannerSections?.[i]"
                                        [section]="section"
                                    ></banner-section>
                                    <div class="add-section">
                                        <button
                                            *ngIf="bannerSections && bannerSections[i]?.id; else delete"
                                            class="button danger"
                                            (click)="destroySection(bannerSections?.[i])"
                                        >
                                            <clr-icon shape="trash"></clr-icon>
                                            {{ 'common.remove' | translate }}
                                        </button>
                                        <ng-template #delete>
                                            <button
                                                *ngIf="i > 0"
                                                class="btn btn-danger"
                                                (click)="deleteSection(i)"
                                            >
                                                {{ 'common.remove' | translate }}
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </vdr-card>
                        <!-- Preview area when dragging -->
                        <div class="custom-placeholder" *cdkDragPlaceholder></div>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <vdr-card>
            <button class="button primary" type="button" (click)="addSection()">
                <clr-icon shape="plus" dir="left"></clr-icon>
                {{ 'banner-plugin.section.add' | translate }}
            </button>
        </vdr-card>
    </vdr-page-block>
</form>
